<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
    <title>{% if page is defined %}{% if page.title %}{{ page.title }} - {% endif %}{% elif section is defined %}{{ section.title }} - {% endif %}{{ config.title }}</title>
    <link rel="canonical" href="{% if section is defined %}{{ section.permalink }}{% elif page is defined %}{{ page.permalink }}{% endif %}">
    <meta name="title" content="{{ config.title }}">
    <meta name="description" content="{{ config.description }}">
    <link rel="stylesheet" href="{{ get_url(path='css/style.css') }}">
</head>
<body class="home">
    <header>
        <a class="title" href="{{ config.base_url }}">
            <h1>{{ config.title }}</h1>
        </a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer style="margin:30px 0px">
        <span>
            &copy; {{ now() | date(format="%Y") }} <a href="{{ config.base_url }}">{{ config.title }}</a>
        </span>
    </footer>
</body>
</html>